@import "src/styles/mixins";

.card-form {
  width: 760px;
  min-height: 425px;
  padding: 48px 20px 32px;
  @include flex-column;
  background: var(--bg-white);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  &__heading {
    padding: 2px 103px;
  }

  &__line {
    width: 100%;
    border-top: 1px solid var(--bg-gray);
  }
  &__footer {
    text-align: center;
    margin-top: 24px;
    @include text-400-18-26;
    color: var(--text-black);
    a {
      color: var(--cta-primary);
      margin-left: 4px;
    }
  }
}

@media (min-width: 769px) and (max-width: 840px) {
  .card-form {
    width: 690px;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .card-form {
    width: 560px;
    &__heading {
      padding: 2px 29px;
    }
  }
}

@media (min-width: 564px) and (max-width: 640px) {
  .card-form {
    width: 500px;
    &__heading {
      padding: 2px 0;
    }
  }
}

@media (min-width: 375px) and (max-width: 563px) {
  .card-form {
    width: 300px;
    &__heading {
      padding: 2px 0;
    }
  }
}
