@import "src/styles/mixins";

.footer {
  width: 100%;
  height: calc(112px + 28px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-white);
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  &-links {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    &__item {
      display: inline-block;
      text-decoration: none;
      margin-right: 8px;
      @include text-400-18-26;
      color: var(--text-black);
      &:not(:last-child):after  {
        content: ' | ';
      }
    }
  }
  &-line {
    width: calc(100% - 4px);
    border: 2px solid var(--bg-gray);
    margin-bottom: 16px;
  }
  &-copyright {
    @include text-400-14-24;
    color: var(--text-gray);
  }
}

@media (min-width: 375px) and (max-width: 430px) {
  .footer {
    &-copyright {
      font-size: 16px;
    }
  }
}
