@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-justify-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-400-14-24 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@mixin text-400-18-26 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

@mixin text-500-18-26 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
