* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

#error {
  color: var(--cta-primary);
  text-align: center;
}
