:root {
  --cta-primary: #F76448;
  --general-text: #2D3135;
  --text-black: #212B36;
  --bg-gray: #E5E8EB;
  --bg-white: #FFFFFF;
  --text-gray: #B2B3B5;
  --accent-yellow: #FFDC22;
  --accent-green: #2EC876;
}
