.btn-link {
  width: 43px;
  height: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #212B36;
  border: none;
  outline: none;
  background: transparent;
  margin: 22px auto 40px auto;
  cursor: pointer;
}
