.btn-primary {
  width: calc(100% - 64px);
  height: 37px;
  background: var(--cta-primary);
  border-radius: 16px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--bg-white);
  padding: 11px 32px;
  cursor: pointer;
}
