@import "src/styles/mixins";

.btn-primary {
  width: calc(100% - 64px);
  height: 37px;
  background: var(--cta-primary);
  border-radius: 16px;
  border: none;
  outline: none;
  @include text-500-18-26;
  color: var(--bg-white);
  padding: 11px 32px;
  cursor: pointer;
}
