@import "src/styles/mixins";

.gender {
  width: 100%;
  min-height: 315px;
  @include flex-column;
  margin-top: 32px;
  &-inner {
    @include flex-justify-between-center;
    position: relative;
    .man, .woman {
      width: 344px;
      height: 228px;
      @include flex-justify-center;
      position: relative;
      p {
        color: var(--cta-primary);
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
      }
    }
    &__box {
      width: 300px;
      height: 33px;
      padding: 12px;
      background: rgba(255, 255, 255, 0.78);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
      backdrop-filter: blur(3px);
      border-radius: 12px;
      @include flex-center;
      position: absolute;
      bottom: 24px;
      cursor: pointer;
    }
  }
}

@media (min-width: 769px) and (max-width: 840px) {
  .gender {
    &-inner {
      .man, .woman {
        width: 335px;
      }
    }
  }
}

@media (min-width: 564px) and (max-width: 768px) {
  .gender {
    &-inner {
      flex-direction: column;
      .man, .woman {
        margin-bottom: 16px;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 563px) {
  .gender {
    &-inner {
      flex-direction: column;
      .man, .woman {
        margin-bottom: 16px;
        width: 305px;
        height: unset;
      }
      &__box {
        width: 260px;
      }
    }
  }
}
