@import "src/styles/mixins";

.stepper {
  width: 100%;
  @include flex-justify-between-center;
  margin-bottom: 12px;
  color: var(--text-gray);
  .yellow {
    color: var(--accent-yellow);
  }
  .red {
    color: var(--cta-primary);
  }
}
